.loto-summary__title {
  align-items: baseline;

  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
}

.boules {
  display: flex;
  gap: 0.5rem;
}

.results ul {
  list-style: none;
  /* display: flex; */
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0;
}

.closest-result button {
  margin-top: 1rem;
}