fieldset {
  border: none;
  padding: 0;
  margin: 0;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

legend {
  display: block;
  padding: 0;
  /* margin-bottom: 1rem; */
}

.options {
  display: flex;
  gap: 1rem;
}

img {
  filter: grayscale(90%);
  cursor: pointer;
}

.checked img {
  filter: unset;
  /* box-shadow: 0 5px 10px 0 hsla(0, 0%, 74.9%, 0.5); */
}

label:focus-visible {
  outline: 3px solid blue;
}

input {
  display: none;
}
