.loto-form {
  /* background-color: #dedede; */
  width: 100%;
  /* padding: 1rem; */
  /* margin: auto; */
}

.boules {
  display: grid;
  grid-template-columns: repeat(7, 2rem);

  justify-content: center;
  gap: 0.5rem;
}

hr {
  margin-top: 0.5;
  margin-bottom: 0.5;
  width: 5rem;
}
